.desc {
  position: relative;
  z-index: 99990;
}
.viewTitleProjects{
  max-width: 500px;
}
.btn-learn {
  cursor: pointer;
  transition: all .4s;

  &:hover {
    background: rgba(0, 0, 0, .6);
  }
}