.modal-showResume {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .close-btn{
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
  }
  .btn-showCv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5126a6!important;
   p{
     margin: 0;
     margin-left: 5px;
   }
  }
  .modal-show-view{
    opacity: 0;
    z-index: -1;
    transition: opacity ease-in-out .4s;
    &.show-view-true{
      opacity: 1;
      z-index: 1;
    }
    &.show-view-false{
      opacity: 0;
      z-index: -1;
    }
  }
  #modal-resume {
    min-height: 170px;
    width: 300px;
    position: absolute;
    top: -110px!important;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(177.76deg, #2e4b3b, #002e33);
    border-radius: 5px;
    border: 0;

    .modal-header {
      position: absolute;
      right: 0;
      top: -7px;

      .modal-close {
        color: #fff;
        font-size: 36px;
        right: 4px;
        padding: 0;
      }
    }

    .modal-content {
      text-align: center;
      min-height: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .block-btn{
        display: flex;
        min-width: 130px;
        justify-content: space-evenly;
        .btn-resume{
          min-width: 50px;
          height: 30px;
          cursor: pointer;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          border: 2px solid #00acc1;
          background-color: #535151;
          color: #ffffff;
        }
      }
      .btn-resume-title {
        font-size: 24px;
        color: #ffffff;
        font-weight: bold;
      }
    }
  }

}
