.rating-block-title{
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: -45px;
}
#modal-skills{
  width: 700px;
  .modal-header{
    text-align: right;
    .modal-close{
      font-size: 50px;
      color: #adadad;
      font-weight: 500;
      &:hover{
        color: #fff;
      }
    }
  }
}