.suspense-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-color: #263238;
  color: #ffffff;
  font-weight: bold;
  height: 100vh;
  width: 100vw;
}