.modal-sendMe {
  position: relative;
  text-align: center;
  margin: 0 0 30px;

  .modal-trigger {
    transition: .4s all;

    &:hover {
      transform: scale(1.1);
    }
  }

  .modal-send-view {
    position: absolute;
    top: -375px !important;
    left: 50%;
    transform: translateX(-50%);
    width: 390px;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    max-height: 0;
    z-index: -1;
    transition: max-height cubic-bezier(0.2,-2,0.8,2) .3s;
    &.send-view-true {
      z-index: 1;
      max-height: 480px;
    }

    &.send-view-false {
      max-height: 0;
      z-index: -1;
    }
  }

  .modal-header {
    position: absolute;
    right: 0;
    top: -7px;

    .close-btn {
      border: 0;
      background: transparent;
      color: #fff;
      font-size: 3rem;
      cursor: pointer;
    }
  }

  .modal-content {
    padding: 60px 20px;
    #sendForm {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
      border-radius: 5px;
      background-color: #0e78c1;
      color: #ffffff;
    }

    .input-field {
      .prefix {
        color: #ffffff;
      }

      input {
        color: #ffffff;
      }
    }
  }

  .err-field {
    color: #fff;
    font-size: 15px;
    display: flex;
    text-align: left;
    background: #c82121;
    font-weight: 300;
    padding: 3px 3px;

    &.err-field-hide {
      display: none;
    }

    &.err-field-show {
      display: block;
    }

    &.err-email-hide {
      display: none;
    }

    &.err-email-show {
      display: block;
    }
  }
}
