.modal-sendMe {
  position: relative;
  text-align: center;
  margin: 0 0 30px;

  .modal-send-view {
    position: absolute;
    top: -375px !important;
    left: 0;
    width: 390px;
    min-height: 450px;
    overflow: hidden;
    background: rgba(0,0,0,.8);
    padding: 10px;
  }
  .modal-header{
    position: absolute;
    right: 0;
    top: -7px;
    a{
      font-size: 45px;
      padding: 0;
      font-weight: 500;
      &:hover{
        color: #ffffff;
      }
    }
  }
  .modal-content{
    #sendForm{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
      border-radius: 5px;
      background-color: #0e78c1;
      color: #ffffff;
    }

    .input-field{
      .prefix{
        color: #ffffff;
      }
      input{
        color: #ffffff;
      }
    }
  }
  .err-field{
    color: #fff;
    font-size: 15px;
    display: flex;
    text-align: left;
    background: #c82121;
    font-weight: 300;
    padding: 3px 3px;

    &.err-field-hide{
      display: none;
    }
    &.err-field-show{
      display: block;
    }

    &.err-email-hide{
      display: none;
    }
    &.err-email-show{
      display: block;
    }
  }
}
