.content-projects{

  .desc-cards{
    .cards{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .card-rating{
        display: flex;
        flex-direction: column;
      }

      .card{
        &.col-4{
          width: 250px;
          height: 220px;
          background-color: #fff;
        }
      }
    }
  }

  .rating-block{
    text-align: center;
    label{
      color: #e5b10f;
      font-size: 1.8rem;
    }
  }
}
